@model HomeModel

<h2>ASP.NET Core MVC Project for practice.</h2>

<table border="1">
    <tr>
        <td>ID</td>
        <td>Nome</td>
    </tr>


    @{
        foreach (var item in (List<HomeModel>)ViewBag.list)
        {
            <tr>
                <td>@item.Id.ToString()</td>
                <td>@item.Name.ToString()</td>
            </tr>

        }
    }
</table>

<form asp-controller="Home" asp-action="Index" method="post">
    <input type="text" asp-for="Id" /><br />
    <input type="text" asp-for="Name" /><br />
    <input type="submit" value="OK" />
</form>